[Unit]
Description=Odoo Open Source ERP and CRM
After=network.target

[Service]
Type=simple
User=odoo
Group=odoo
ExecStart=/bin/bash -c 'source /home/odoo/odoo-venv/bin/activate && exec /home/odoo/odoo-bin --config /home/odoo/debian/odoo.conf --logfile /var/log/odoo/odoo.log'
KillMode=mixed

[Install]
WantedBy=multi-user.target

